.place__paragraph {
  margin: 0;
  padding: 0;
  max-width: 484px;
  min-height: 100px;
  font-size: 18px;
  line-height: 163%;
  font-weight: 400;
}

@media screen and (max-width: 1023px) {
  .place__paragraph {
    font-size: 16px;
    margin-bottom: 25px;
  }

  .place__paragraph:last-of-type {
    margin-bottom: 0px;
  }
}

@media screen and (max-width: 767px) {
  .place__paragraph {
    min-height: 70px;
    font-size: 16px;
    max-width: 100%;
    padding: 0 16px;
  }
}
