.intro {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 984px;
  margin: 92px auto 0;
}

@media screen and (max-width: 1279px) {
  .intro {
    max-width: 928px;
  }
}

@media screen and (max-width: 1023px) {
  .intro {
    max-width: calc(100% - 48px);
    margin-top: 88px;
  }
}

@media screen and (max-width: 424px) {
  .intro {
    max-width: calc(100% - 32px);
    margin-top: 64px;
  }
}

