.website {
  align-self: end;
  margin-bottom: 48px;
}

@media screen and (max-width: 767px) {
  .website {
    align-self: flex-start;
    max-width: calc(100% - 32px);
    margin-bottom: 32px;
    padding: 0 16px;
  }
}

