.lead__caption {
  margin: 8px 0 0;
  padding: 0;
  max-width: 984px;
  min-height: 14px;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 10px;
  line-height: 140%;
  letter-spacing: 1.5px;
}

@media screen and (max-width: 1023px) {
  .lead__caption {
    max-width: 928px;
    padding-left: 24px;
  }
}

@media screen and (max-width: 767px) {
  .lead__caption {
    padding-left: 16px;
  }
}
