.footer {
  display: flex;
  justify-content: space-between;
  max-width: 100%;
  min-height: 18px;
  margin: 92px 0 0;
  padding: 0 48px;
}

@media screen and (max-width: 1279px) {
  .footer {
    max-width: 100%;
  }
}

@media screen and (max-width: 1023px) {
  .footer {

    margin-top: 88px;
    padding: 0 24px;
  }
}

@media screen and (max-width: 767px) {
  .footer {
    flex-direction: column;
    align-items: flex-start;
    max-width: 288px;
    min-height: 310px;
    margin-top: 64px;
    padding-left: 16px;
  }
}
