.header__lang-links {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  gap: 18px;
  align-items: end;
  font-size: 24px;
  line-height: 117%;
}

@media screen and (max-width: 424px) {
  .header__lang-links {
    font-size: 18px;
    line-height: 111%;
  }
}
