@import url(../vendor/normalize.css);
@import url(../blocks/page/page.css);
@import url(../blocks/header/header.css);
@import url(../blocks/header/__lang-link/header__lang-link.css);
@import url(../blocks/link/link.css);
@import url(../blocks/link/_active/link_active.css);
@import url(../blocks/lead/__title/lead__title.css);
@import url(../blocks/lead/__subtitle/lead__subtitle.css);
@import url(../blocks/lead/__image/lead__image.css);
@import url(../blocks/lead/__caption/lead__caption.css);
@import url(../blocks/lead/lead.css);
@import url(../blocks/intro/intro.css);
@import url(../blocks/intro/__title/intro__title.css);
@import url(../blocks/intro/__text/intro__text.css);
@import url(../blocks/intro/__list/intro__list.css);
@import url(../blocks/photo-grid/photo-grid.css);


.places {
  margin: 92px auto 0;
  max-width: 928px;
  min-height: 3292px;
}

.place {
  display: grid;
  grid-template-columns: minmax(min-content, 440px) minmax(min-content, 456px);
  grid-template-rows: repeat(3, minmax(min-content, max-content));
  max-width: 928px;
  min-height: 640px;
  column-gap: 32px;
  margin-bottom: 80px;
}

.place__title {
  max-width: 440px;
  margin: 0;
  margin-bottom: 48px;
  padding: 0;
  font-size: 72px;
  line-height: 106%;
  font-weight: 900;
}

.place__paragraph {
  margin: 0;
  padding: 0;
  max-width: 456px;
  min-height: 116px;
  font-size: 18px;
  line-height: 163%;
  font-weight: 400;
}

.place__website {
  align-self: end;
  margin-bottom: 48px;
}

.website__url-heading {
  margin: 0;
  margin-bottom: 12px;
  padding: 0;
  font-size: 12px;
  line-height: 100%;
  font-weight: 400;
  letter-spacing: 2px;
}

.website__link {
  font-size: 18px;
  line-height: 122%;
  font-weight: 400;
  text-decoration: underline;
}

.place__image {
  grid-row-start: 2;
  grid-row-end: 4;
  width: 100%;
}























































@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 400;
  font-display: swap;
  src: url("../Inter-3.19/Inter Web/Inter-Regular.woff2?v=3.19") format("woff2"),
       url("../Inter-3.19/Inter Web/Inter-Regular.woff?v=3.19") format("woff");
}

@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 900;
  font-display: swap;
  src: url("Inter-Black.woff2?v=3.19") format("woff2"),
       url("Inter-Black.woff?v=3.19") format("woff");
}







































































































