@import url(../vendor/normalize.css);
@import url(../blocks/page/page.css);
@import url(../blocks/header/header.css);
@import url(../blocks/header/__lang-link/header__lang-link.css);
@import url(../blocks/link/link.css);
@import url(../blocks/link/_active/link_active.css);
@import url(../blocks/lead/__title/lead__title.css);
@import url(../blocks/lead/__subtitle/lead__subtitle.css);
@import url(../blocks/lead/__image/lead__image.css);
@import url(../blocks/lead/__caption/lead__caption.css);
@import url(../blocks/lead/lead.css);
@import url(../blocks/intro/intro.css);
@import url(../blocks/intro/__title/intro__title.css);
@import url(../blocks/intro/__text/intro__text.css);
@import url(../blocks/intro/__list/intro__list.css);
@import url(../blocks/photo-grid/photo-grid.css);
@import url(../blocks/places/places.css);
@import url(../blocks/place/place.css);
@import url(../blocks/place/__title/place__title.css);
@import url(../blocks/place/__paragraph/place__paragraph.css);
@import url(../blocks/place/__website/);
@import url(../blocks/place/__website/place__website.css);
@import url(../blocks/website/__url-heading/website__url-heading.css);
@import url(../blocks/website/__link/website__link.css);
@import url(../blocks/place/__image/place__image.css);




.cover {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1184px;
  min-height: 640px;
  margin: 92px auto 0;
}

.cover__background {
  position: relative;
  background-image: url('../pictures/cover_background.jpg');
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
  height: 640px;
  z-index: 0;
}

.cover__title {
  margin: 195px auto 0;
  max-width: 560px;
  font-size: 72px;
  line-height: 106%;
  font-weight: 900;
  text-align: center;
}

.cover__subtitle {
  margin: 32px auto 0;
  max-width: 360px;
  font-size: 18px;
  line-height: 122%;
  font-weight: 400;
  text-align: center;
}


.cover__background::before {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  opacity: .3;
  width: 100%;
  height: 100%;
  background-color: #2A2C2F;
  z-index: -1;
}

.cover__background:hover::before {
  opacity: .8;
}

















@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 400;
  src: url("../Inter-3.19/Inter Web/Inter-Regular.woff2?v=3.19") format("woff2"),
       url("../Inter-3.19/Inter Web/Inter-Regular.woff?v=3.19") format("woff");
}

@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 900;
  src: url("../Inter-3.19/Inter Web/Inter-Black.woff2?v=3.19") format("woff2"),
       url("../Inter-3.19/Inter Web/Inter-Black.woff?v=3.19") format("woff");
}



















































































































































